*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x:hidden;
    background:#fff;
}

/* ================= NAVBAR ================= */

nav{
    position:fixed;

    top:0;
    left:0;
    right:0;

    width:100%;
    height:90px;

    background:#071739;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 35px;

    gap:22px;

    z-index:1000;

    box-shadow:
    0 5px 18px rgba(0,0,0,0.18);
}

/* ================= LOGO ================= */

.logo{
    font-size:40px;
    font-weight:700;

    white-space:nowrap;

    color:#f3af04;
}

.logo span{
    color:white;
}

/* ================= MENU ================= */

nav ul{
    display:flex;
    align-items:center;

    gap:22px;

    list-style:none;
}

nav ul li{
    position:relative;
}

nav ul li a{
    text-decoration:none;

    color:white;

    font-size:17px;
    font-weight:500;

    transition:0.3s;

    white-space:nowrap;
}

nav ul li a:hover{
    color:#f5d27a;
}

nav ul li a i{
    margin-left:6px;
    font-size:12px;
}

/* ================= DROPDOWN ================= */

.dropdown-content{
    position:absolute;

    top:42px;
    left:0;

    min-width:230px;

    background:white;

    border-radius:18px;

    overflow:hidden;

    display:none;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.15);
}

.dropdown-content a{
    display:block;

    padding:16px 20px;

    color:#111;

    font-size:17px;
}

.dropdown-content a:hover{
    background:#f5f5f5;
}

.dropdown:hover .dropdown-content{
    display:block;
}

/* ================= RIGHT SIDE ================= */

.nav-right{
    display:flex;
    align-items:center;

    gap:14px;
}

/* ================= SEARCH BOX ================= */

.search-box{
    min-width:285px;
    height:50px;

    background:white;

    border-radius:40px;

    overflow:hidden;

    display:flex;
    align-items:center;

    border:2px solid #f5d27a;
}

.search-box input{
    flex:1;

    height:100%;

    border:none;
    outline:none;

    padding:0 20px;

    font-size:15px;

    display:flex;
    align-items:center;
}

.search-box input::placeholder{
    color:#777;

    position:relative;
    top:1px;
}

.search-box button{
    width:56px;
    height:50px;

    border:none;

    background:#f2af05;

    cursor:pointer;

    font-size:18px;

    display:flex;
    align-items:center;
    justify-content:center;
}

/* ================= SIGN BUTTON ================= */

.sign-btn{

    background:#eead07;

    color:#111;

    border:none;

    min-width:210px;

    height:50px;

    padding:0 28px;

    border-radius:40px;

    font-size:18px;
    font-weight:600;

    cursor:pointer;

    display:flex;
    align-items:center;
    justify-content:center;

    gap:10px;

    transition:0.3s;

    white-space:nowrap;

    box-shadow:
    0 5px 15px rgba(245,210,122,0.35);
}

.sign-btn i{
    font-size:16px;
}

.sign-btn:hover{
    background:#fec804;

    transform:translateY(-2px);
}

/* ================= HERO ================= */

.hero{
    width:100%;
    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.65),
    rgba(0,0,0,0.65)),
    url('truck-bg.jpg.png');

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;

    padding:140px 90px 70px;
}

.hero-content{
    max-width:720px;
}

.hero-content h1{
    font-size:78px;

    line-height:1.1;

    color:white;

    margin-bottom:24px;
}

.hero-content h1 span{
    color:#f5b104;
}

.hero-content p{
    color:#ddd;

    font-size:19px;

    line-height:1.9;

    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

/* ================= BUTTONS ================= */

.btn{
    padding:15px 34px;

    border:none;

    border-radius:12px;

    background:#feb705;

    color:#111;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

.btn:hover{
    transform:translateY(-2px);

    background:#f7c101;
}

.secondary-btn{
    padding:15px 34px;

    border:2px solid white;

    border-radius:12px;

    background:transparent;

    color:white;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

.secondary-btn:hover{
    background:white;
    color:#111;
}

/* ================= TRACKING ================= */

.tracking{
    padding:100px 70px;

    background:#f4f4f4;
}

.tracking h2{
    text-align:center;

    font-size:50px;

    color:#071739;

    margin-bottom:40px;
}

.tracking-box{
    max-width:1100px;

    margin:auto;

    background:white;

    padding:35px;

    border-radius:28px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

    display:flex;

    gap:20px;
}

.tracking-box input{
    flex:1;

    padding:18px 20px;

    border:1px solid #ddd;

    border-radius:14px;

    outline:none;

    font-size:16px;
}

.tracking-result{
    max-width:1100px;

    margin:25px auto 0;

    background:white;

    padding:30px;

    border-radius:24px;

    box-shadow:
    0 5px 18px rgba(0,0,0,0.08);

    font-size:18px;

    line-height:1.8;
}

/* ================= SHIPPING TYPE ================= */

.shipping-type{
    padding:100px 80px;

    background:#f8f9fc;
}

.shipping-container{
    max-width:1200px;

    margin:auto;

    text-align:center;
}

.shipping-container h2{
    font-size:52px;

    color:#071739;

    margin-bottom:15px;
}

.shipping-container p{
    color:#666;

    font-size:18px;

    margin-bottom:50px;
}

.shipping-options{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    gap:35px;
}

.shipping-card{
    background:white;

    padding:45px 35px;

    border-radius:28px;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.08);

    transition:0.3s;
}

.shipping-card:hover{
    transform:translateY(-8px);
}

.shipping-icon{
    width:90px;
    height:90px;

    margin:auto auto 25px;

    border-radius:50%;

    background:#f4b004;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:38px;

    color:#111;
}

.shipping-card h3{
    font-size:30px;

    color:#071739;

    margin-bottom:18px;
}

.shipping-card p{
    color:#666;

    line-height:1.8;

    margin-bottom:30px;
}

.shipping-btn{
    background:#071739;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:35px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

.shipping-btn:hover{
    background:#0d2b5f;
}

/* ================= SERVICES ================= */

.services{
    padding:100px 80px;

    background:#fff;
}

.section-title{
    text-align:center;

    margin-bottom:60px;
}

.section-title h2{
    font-size:54px;

    color:#071739;

    margin-bottom:12px;
}

.section-title p{
    color:#666;

    font-size:18px;
}

.service-grid{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(260px,1fr));

    gap:30px;
}

.service-card{
    background:#f8f9fc;

    padding:40px 30px;

    border-radius:24px;

    text-align:center;

    transition:0.3s;
}

.service-card:hover{
    transform:translateY(-8px);
}

.icon{
    font-size:52px;

    margin-bottom:22px;
}

.service-card h3{
    font-size:28px;

    color:#071739;

    margin-bottom:15px;
}

.service-card p{
    color:#666;

    line-height:1.7;
}

/* ================= ABOUT ================= */

.about{
    padding:100px 80px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:60px;

    align-items:center;
}

.about img{
    width:100%;

    border-radius:28px;
}

.about-text h2{
    font-size:48px;

    color:#071739;

    margin-bottom:22px;
}

.about-text p{
    color:#555;

    line-height:1.9;

    margin-bottom:28px;

    font-size:17px;
}

/* ================= FOOTER ================= */

footer{
    background:#071739;

    color:white;

    text-align:center;

    padding:30px;

    font-size:15px;
}

/* ================= RESPONSIVE ================= */

@media(max-width:1200px){

    nav{
        padding:0 20px;
    }

    nav ul{
        gap:16px;
    }

    .search-box{
        min-width:220px;
    }

    .sign-btn{
        min-width:170px;
        font-size:16px;
    }
}

@media(max-width:991px){

    nav ul{
        display:none;
    }

    .search-box{
        display:none;
    }

    .sign-btn{
        min-width:160px;
        height:46px;
        font-size:15px;
    }

    .hero{
        padding:130px 30px 60px;
    }

    .hero-content h1{
        font-size:52px;
    }

    .tracking-box{
        flex-direction:column;
    }

    .about{
        grid-template-columns:1fr;
    }
}

@media(max-width:600px){

    .hero-content h1{
        font-size:42px;
    }

    .tracking h2,
    .section-title h2,
    .shipping-container h2,
    .about-text h2{
        font-size:36px;
    }

    .services,
    .tracking,
    .about,
    .shipping-type{
        padding-left:20px;
        padding-right:20px;
    }

    .hero-buttons{
        flex-direction:column;
    }
}
/* CUSTOMER SUPPORT */

.support-section {

  padding: 90px 8%;

  background: #f7f7f7;
}


.support-grid {

  display: grid;

  grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

  gap: 30px;

  margin-top: 50px;
}


/* CARD */

.support-card {

  background: white;

  padding: 50px 30px;

  border-radius: 20px;

  text-align: center;

  transition: 0.3s;

  box-shadow:
    0 5px 20px rgba(0,0,0,0.08);
}


.support-card:hover {

  transform: translateY(-10px);
}


/* ICON */

.support-icon {

  font-size: 60px;

  margin-bottom: 20px;
}


.support-card h3 {

  font-size: 32px;

  margin-bottom: 15px;

  color: #0d1b2a;
}


.support-card p {

  margin-bottom: 25px;

  color: #555;

  font-size: 18px;
}
/* =========================
   CUSTOMER SUPPORT SECTION
========================= */

.support-section {

  padding: 100px 8%;

  background: #f5f5f5;
}


/* GRID */

.support-grid {

  display: grid;

  grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

  gap: 35px;

  margin-top: 60px;
}


/* CARD */

.support-card {

  background: white;

  padding: 50px 35px;

  border-radius: 20px;

  text-align: center;

  transition: 0.4s;

  box-shadow:
    0 5px 20px rgba(0,0,0,0.08);
}


/* HOVER EFFECT */

.support-card:hover {

  transform: translateY(-10px);

  box-shadow:
    0 10px 30px rgba(0,0,0,0.15);
}


/* ICON */

.support-icon {

  font-size: 65px;

  margin-bottom: 25px;
}


/* TITLE */

.support-card h3 {

  font-size: 34px;

  margin-bottom: 18px;

  color: #0d1b2a;
}


/* TEXT */

.support-card p {

  font-size: 18px;

  color: #666;

  margin-bottom: 28px;

  line-height: 1.8;
}


/* BUTTON */

.support-card .btn {

  padding: 14px 28px;

  background: gold;

  border: none;

  border-radius: 10px;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}


/* BUTTON HOVER */

.support-card .btn:hover {

  background: #ffd700;

  transform: scale(1.05);
}



/* =========================
   SUPPORT PAGES
========================= */

.service-page {

  width: 80%;

  margin: 120px auto;

  background: white;

  padding: 60px;

  border-radius: 25px;

  box-shadow:
    0 5px 25px rgba(0,0,0,0.15);
}


/* PAGE TITLE */

.service-page h1 {

  font-size: 50px;

  margin-bottom: 35px;

  color: #0d1b2a;
}


/* PAGE TEXT */

.service-page p {

  font-size: 20px;

  line-height: 2;

  margin-bottom: 30px;

  color: #555;
}


/* BACK BUTTON */

.service-page .btn {

  padding: 15px 35px;

  background: gold;

  border: none;

  border-radius: 10px;

  font-size: 17px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}


/* BUTTON HOVER */

.service-page .btn:hover {

  background: #ffd700;

  transform: scale(1.05);
}



/* =========================
   RESPONSIVE
========================= */

@media(max-width:768px) {

  .service-page {

    width: 92%;

    padding: 35px;
  }


  .service-page h1 {

    font-size: 36px;
  }


  .support-card h3 {

    font-size: 28px;
  }


  .support-card p {

    font-size: 16px;
  }

}

.customer-menu{
    position:absolute;
    top:45px;
    left:0;

    width:280px;

    background:#f5f5f5;

    border-radius:22px;

    padding:15px 0;

    list-style:none;

    box-shadow:0 10px 25px rgba(0,0,0,0.15);

    opacity:0;
    visibility:hidden;

    transform:translateY(10px);

    transition:0.3s;

    z-index:999;
}

/* SHOW MENU */

.customer-dropdown:hover .customer-menu{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}

/* EACH LIST */

.customer-menu li{
    width:100%;
}

/* MENU LINKS */

.customer-menu li a{
    display:block;   /* IMPORTANT */

    width:100%;

    padding:20px 28px;

    text-decoration:none;

    color:#111;

    font-size:20px;
    font-weight:500;

    transition:0.3s;
}

/* HOVER */

.customer-menu li a:hover{
    background:#eaeaea;
    color:#f4c542;
}